<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                <a class="text-light text-decoration-none" href="/"><h3 class="m-0">Blog</h3></a>
            </div>
            <div class="col-12 col-md-8">
                <div class="d-flex justify-content-center justify-content-md-end gap-3 flex-wrap mt-2 mt-md-0">
                    <a class="text-light text-decoration-none" href="/">Home</a>
                    <a class="text-light text-decoration-none" href="/about">About</a>
                    <a class="text-light text-decoration-none" href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</header>