{% extends 'blog/base.html' %}

{% block content %}

        <div class="container-fluid">
            <div class="row mt-5 mx-2">
                <div class="col-12 col-md-4 mb-4 mb-md-0 d-flex justify-content-center">
                    <img src="https://picsum.photos/300/300" alt="About" class="img-fluid rounded">
                </div>
                <div class="col-12 col-md-8">
                    <div class="content ps-md-3">
                        {{about_content}}
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}
    